.jumbotron
{
    background-color: rgb(26, 214, 199);
    color: black;
    margin-top:50px;
}

footer
{
    padding: 10px 10px 0 10px;
    background-color: grey;
    border-style: inset;
    margin-bottom: 0px;
    margin-top: 10px;
    
    
}
.place-box
{
  flex: 1 150px;
  padding:2px 5px 2px 5px; 
}

.boton
{
 width: 100%;
}

.footer-address-icon{
  padding-right:10px ;
}

